<h3>New person</h3>
<p>Here you can create a new person, for the purpose of assosciating that person with new shift reservations.</p>

<p>Don't see the right group listed? Contact the shift coordinator to have a new group added.</p>

<%= render 'form' %>

<%= link_to 'Back to list of people', people_path %>
