<h3>New shifter</h3>
<p>Here you can create a new shifter, for the purpose of assosciating that shifter with new or existing shift reservations.</p>

<p>Don't see the right group listed? Contact the shift coordinator to have a new group added.</p>

<%= render 'form' %>

<%= link_to 'Back to list of shifters', people_path %>
