<h3>All groups</h3>
  <% @groups.each do |group| %>
    <h4><%= link_to group.name, group %></h4>
    <% sortedactives = group.people.actives.sort_by do |person| %>
      <% person.name.split(" ").reverse.join.upcase %>
    <% end %>
    <%= sortedactives.map(&:name).to_sentence %>
    <% sortedinactives = group.people.inactives.sort_by do |person| %>
      <% person.name.split(" ").reverse.join.upcase %>
    <% end %>
    <% if sortedinactives.size > 0 %>
      <div style="color:gray;">(Former members: <%= sortedinactives.map(&:name).to_sentence %>)</div>
    <% end %>
  <% end %>
<br /><br />

<% if admin? %>
  <%= link_to 'New Group', new_group_path, class: "btn btn-primary" %>
<% end %>
