<% @page_title = "User signup" %>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger fade in">
    <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h3>Create new account</h3>
<%= render 'form' %>
