<h3>All calendars</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr onclick="window.document.location='<%= calendar_url(calendar) %>'">
        <td><%= link_to calendar.title, calendar %></td>
        <td><%= calendar.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin? %>
  <%= link_to 'New Calendar', new_calendar_path, class: "btn btn-primary" %>
<% end %>
