<h3>New reservation</h3>
<p>Here you can create a new shift reservation.</p>

<p>Don't see the right name on the "Person" list? Create a new person at <a href="people/new">here</a>, and provide your contact information. (This is separate than your login username and password.)</p>

<%= render 'form' %>

<%= link_to 'See list of all reservations', appointments_path %>
